html, body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#canvas{
    background-color: darkblue;
}

#particleText{
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    margin: auto;
    top:0;right:0;bottom:0;left:0;
}

#particleText textarea{
    width: 100%;
    height: 200px;

}