html, body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#canvas{
    background-color: darkblue;
}
/* Styles for particleEngine demo
 *
 * Author: Dave Campion
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
